# Hortobots Reality Clash WebGame - Environment Variables
PORT=3333
NODE_ENV=production

# Supabase PostgreSQL Connection String (Cloud Database - IPv4 Pooler para Render & Local)
DATABASE_URL=postgresql://postgres.rxfdjwdfinhqdwllzmcc:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres

# Gmail REST API (Envio Real de E-mails 2FA via HTTPS / OAuth2 - 100% Grátis)
GMAIL_SENDER=seu-email@gmail.com
GMAIL_REFRESH_TOKEN=seu-refresh-token-google-oauth2

# Google Identity Services (GSI - Login Oficial Google)
GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=sua-chave-secreta-google
