# Hortobots Reality Clash WebGame - Environment Variables
PORT=3333
NODE_ENV=production

# Supabase PostgreSQL Connection String (Cloud Database - IPv4 Pooler para Render & Local)
DATABASE_URL=postgresql://postgres.rxfdjwdfinhqdwllzmcc:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres

# Resend API (Envio Real de E-mails 2FA via HTTPS / Porta 443 - 100% Grátis)
RESEND_API_KEY=re_suachaveaqui

# Google Identity Services (GSI - Login Oficial Google)
GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=sua-chave-secreta-google
